
 <div>

    <div class="heading">
        <div mat-dialog-title select="[heading]">
            {{'exportPopupHeader' |translate}}
        </div>
    </div>

</div>

<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography">
    <form *ngIf="exportOptionsForm" [formGroup]="exportOptionsForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'department' |translate}}</mat-label>
            <mat-select multiple matInput type="text" formControlName="unitIds">
                <mat-option *ngFor="let unit of unitObs$|async" value="{{unit.id}}">
                        {{unit.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                {{'departmentNameExportOptionsErrorMessage' |translate}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill"  matTooltip="{{'languageExport'|translate}}">
          
                        <mat-label >{{'languageLabel' |translate}}
                                                              
                        </mat-label>
                       
                 

                    
            <mat-select matInput type="text" formControlName="languageId">
                <mat-option *ngFor="let language of languageObs$|async" value="{{language.id}}">
                    {{language.code}}
                </mat-option>
            </mat-select>
            <mat-error>
                {{'languageCodeRequiredErrorMessage' |translate}}
            </mat-error>
        </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>{{'schoolYearLabel' |translate}}</mat-label>
                <mat-select matInput type="text" formControlName="schoolYear">
                    <mat-option *ngFor="let schoolYear of schoolYearObs$|async" value="{{schoolYear}}">
                        {{schoolYear}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    {{'schoolyearErrorMessage' |translate}}
                </mat-error>
            </mat-form-field>

    </form>


</mat-dialog-content>


<mat-dialog-actions align="center">
    <div class="flex-row">
        <div >
            <button class="save-button flex-row-cancel-save-update" (click)="closeDialog(true)"
                [disabled]="!exportOptionsForm?.valid">

                <div><mat-icon>save</mat-icon></div>
                <div>{{'exportButton' |translate}}</div>
            </button>
        </div>
        <div>

            <button class="cancel-button   flex-row-cancel-save-update" (click)="closeDialog(false)" mat-fab
                color="primary" aria-label="Example icon button with a delete icon">
                <div>
                    <mat-icon>cancel</mat-icon>
                </div>
                <div>
                    {{'cancelButtonText' |translate}}
                </div>
            </button>


        </div>
    </div>
</mat-dialog-actions> 