


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .flex-row{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  span{
    margin-left: 5%;
  }
  button{
    border: none;
  }
  .example-chip-list {
    width: 100%;
  }
 
  .add-translation-button {
    
      margin-right: 5%;
      margin-left: 20%;
  }
        
  #save{
    width: 100%;
  }
  .heading{
    margin-left: 1%;
      margin-top: 2%;
      justify-content: center;
      text-align: center;
  }
  .align-to-top-right{
    margin-left: 95%;
  }