.nav-item{
    margin-left: 1%;
    
}
.nav-item a{
    text-decoration: none;
    // color: black;
}
.language-dropdown{
   margin-top: 1%;
   margin-left: 2%;
}
a{
    font-size: 20px;
}
// .active{
//     color:#00b5ad ;
// }