.flex-row{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .heading{
    margin-left: 1%;
    margin-top: 2%;
    justify-content: center;
    text-align: center;
}  
.add-translation-button {

    margin-right: 5%;
    margin-left: 20%;
  }
     .align-to-top-right {
       margin-left: 95%;
     }