<div  >

    <div   class="heading">
        <div mat-dialog-title select="[heading]">
           {{'updateLanguageHeader' |translate}}
        </div>
    </div>
    
    </div>
    
    <mat-divider></mat-divider>
    
    <mat-dialog-content class="mat-typography">
    <form *ngIf="updateForm" [formGroup]="updateForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'languageNameLabel' |translate}}</mat-label>
            <input matInput type="text" formControlName="languageName">
            <mat-error >
                {{'languageNameRequiredErrorMessage' |translate}}
            </mat-error>
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'languageCodeLabel' |translate}}</mat-label>
            <input matInput type="text" formControlName="languageCode">
            <mat-error>
                {{'languageCodeRequiredErrorMessage' |translate}}
            </mat-error>
        </mat-form-field>
  
    
        
    
    
    </form>
    
    
    </mat-dialog-content>
    
    
    <mat-dialog-actions align="center">
       <div class="flex-row">
        <div>
            <button (click)="close(true)" class="save-button flex-row-cancel-save-update"  [disabled]="!updateForm?.valid" >
                
            <div><mat-icon>edit</mat-icon></div>
            <div>Update</div>
            </button>
        </div>
        <div>
      
           <button (click)="close(false)" class="cancel-button   flex-row-cancel-save-update"   mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <div>
                <mat-icon>cancel</mat-icon> 
            </div>        
                <div>
                    Cancel
                </div>
                   </button>
    
            
        </div>
       </div>
    </mat-dialog-actions>
    
